/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* General Settings */
  /* TEMPLATE */
  .template {
    display: none;
  }
  /* TEMPLATE */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(180deg, #049687 15%, #d7dbd7 15%);
}
input {
  margin-left: 20px;
  width: 80%;
  border: none;
  outline: none;
}
a {
  color: #6497ac;
}
/* END General Settings */

/* strumenti */
div[class*="-bar"] {
  background: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaeaea;
  border: 1px solid #dadada;
  width: 100%;
  height: 60px;
  padding: 8px;
}
div[class*="-bar"] img {
  height: 50px;
  border-radius: 50%;
}
div[class*="message-"] {
  background: pink;
  border-radius: 10px;
  width: 300px;
  padding: 15px;
  margin: 5px 0;
}
.options i {
  color: #b1b1b1;
  font-size: 20px;
  padding: 5px;
}
.img-avatar {
  display: flex;
}
/* END strumenti */

/** Container Principale **/
.wrapper-whatsapp {
  background: yellow;
  display: flex;
  height: 95vh;
  width: 1024px;
  margin: 2.5vh auto;
}
/** END Container Principale **/

/* COLONNA SINISTRA */
.wrapper-whatsapp .col-left {
  background: lightgreen;
  height: 100%;
  width: 350px;
}
/* Notifications */
.wrapper-whatsapp .col-left .notifications {
  background: #8ddafb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 15px;
}
.wrapper-whatsapp .col-left .notifications .notifications-icon {
  background: white;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.wrapper-whatsapp .col-left .notifications .notifications-icon i {
  color: #8ddafb;
  font-size: 25px;
  position: absolute;
  left: 10px;
  bottom: 15px;
}
.wrapper-whatsapp .col-left .notifications .notifications-message {
  font-size: 12px;
  line-height: 20px;
  padding: 10px 0px 0px 10px;
}
/* Search */
.wrapper-whatsapp .col-left .search {
  background: #fafafa;
  padding-top: 10px;
  width: 100%;
  height: 50px;
}
.wrapper-whatsapp .col-left .search .wrapper-search {
  background: white;
  border-radius: 2px;
  border: 1px solid #f6f6f6;
  padding: 5px 10px;
  width: 94%;
  margin: auto;
}
.wrapper-whatsapp .col-left .search .wrapper-search i {
  color: #b1b1b1;
}

/* Box-Contacts */
.wrapper-whatsapp .col-left .box-contacts {
  background: white;
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 190px);
}
.wrapper-whatsapp .col-left .box-contacts .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 80px;
  border: 1px solid #e8ebeb;
}
.wrapper-whatsapp .col-left .box-contacts .contact p {
  color: #b1b1b1;
}
.wrapper-whatsapp .col-left .box-contacts .contact .img-contact  {
  background: red;
  height: 60px;
  width: 60px;
}
.wrapper-whatsapp .col-left .box-contacts .contact .img-contact img {
  border-radius: 50%;
  width: 100%;
}
.wrapper-whatsapp .col-left .box-contacts .contact .time-contact {
  font-size: 10px;
}

/* END COLONNA SINISTRA */

/* COLONNA DESTRA */
.wrapper-whatsapp .col-right {
  background: lightblue;
  height: 100%;
  width: calc(100% - 350px);
}
.wrapper-whatsapp .col-right .img-avatar .ultimo-accesso {
  padding: 10px;
  font-size: 12px;
}
.wrapper-whatsapp .col-right .container-message {
  overflow-y: scroll;
  background: url(../img/mine.jpg);
  background-repeat: repeat;
  width: 100%;
  height: calc(100% - 120px)
}
.wrapper-whatsapp .col-right .container-message .wrapper-message {
  width: 85%;
  margin: auto;
  height: 100%;
}
.wrapper-whatsapp .col-right .container-message .wrapper-message .message-he {
  background: #ffff;
  float: left;
}
.wrapper-whatsapp .col-right .container-message .wrapper-message .message-me {
  background: #d5f9ba;
  float: right;
}
.wrapper-whatsapp .col-right div.footer-bar-message {
  justify-content: space-around;
}
.wrapper-whatsapp .col-right .footer-bar-message .emoticons,
.wrapper-whatsapp .col-right .footer-bar-message .vocal-audio {
  color: #6b7376;
  padding-top: 10px;
  font-size: 25px;
}
.wrapper-whatsapp .col-right .footer-bar-message .write-message {
  background: #ffff;
  border-radius: 5px;
  padding-top: 10px;
  width: 80%;
  height: 40px;
}
/* END COLONNA DESTRA */
