/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* General Settings */
  /* TEMPLATE */
  .template {
    display: none;
  }
  /* TEMPLATE */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(180deg, #049687 15%, #d7dbd7 15%);
}
input {
  margin-left: 20px;
  width: 80%;
  border: none;
  outline: none;
}
a {
  color: #6497ac;
}
li {
  list-style-type: none;
}
/* END General Settings */

/* strumenti */
.hidden {
  display: none;
}
.active {
  display: block;
}

div[class*="-bar"] {
  background: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaeaea;
  border: 1px solid #dadada;
  width: 100%;
  height: 60px;
  padding: 8px;
}
div[class*="-bar"] img {
  height: 50px;
  border-radius: 50%;
}
.options i {
  color: #b1b1b1;
  font-size: 20px;
  padding: 5px;
}
.box-avatar {
  display: flex;
}
/* END strumenti */

/** Container Principale **/
.wrapper-whatsapp {
  background: yellow;
  display: flex;
  height: 95vh;
  width: 85%;
  min-width: 900px;
  margin: 2.5vh auto;
}
/** END Container Principale **/

/******* COLONNA SINISTRA ***********/
.wrapper-whatsapp .col-left {
  background: lightgreen;
  height: 100%;
  width: 350px;
}
/* Notifications */
.wrapper-whatsapp .col-left .notifications {
  background: #8ddafb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 15px;
}
.wrapper-whatsapp .col-left .notifications .notifications-icon {
  background: white;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.wrapper-whatsapp .col-left .notifications .notifications-icon i {
  color: #8ddafb;
  font-size: 25px;
  position: absolute;
  left: 10px;
  bottom: 15px;
}
.wrapper-whatsapp .col-left .notifications .notifications-message {
  font-size: 12px;
  line-height: 20px;
  padding: 10px 0px 0px 10px;
}
/* Search */
.wrapper-whatsapp .col-left .search {
  background: #fafafa;
  padding-top: 10px;
  width: 100%;
  height: 50px;
}
.wrapper-whatsapp .col-left .search .wrapper-search {
  background: white;
  border-radius: 2px;
  border: 1px solid #f6f6f6;
  padding: 5px 10px;
  width: 94%;
  margin: auto;
}
.wrapper-whatsapp .col-left .search .wrapper-search i {
  color: #b1b1b1;
}

/* Box-Contacts */
.wrapper-whatsapp .col-left .wrapper-contacts {
  background: white;
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 190px);
}
.wrapper-whatsapp .col-left .wrapper-contacts .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 80px;
  border: 1px solid #e8ebeb;
}
.selected {
  background: #e8ebeb;
}
.wrapper-whatsapp .col-left .wrapper-contacts .contact p {
  color: #b1b1b1;
}
.wrapper-whatsapp .col-left .wrapper-contacts .contact {
  width: 100%;
}
.wrapper-whatsapp .col-left .wrapper-contacts .contact .img-contact  {
  background: red;
  height: 60px;
  width: 60px;
}
.wrapper-whatsapp .col-left .wrapper-contacts .contact .box-contact {
  width: calc(100% - 120px);
}
.wrapper-whatsapp .col-left .wrapper-contacts .contact .img-contact img {
  border-radius: 50%;
  width: 100%;
  width: 60px;
}
.wrapper-whatsapp .col-left .wrapper-contacts .contact .time-contact {
  font-size: 10px;
}
.notifications-message-contact {
  border-radius: 100%;
  padding: 5px 9px;
  background: #03d755;
  color: #ffff;
}
.check {
  color: #56c7f4;
}

/********** END COLONNA SINISTRA *********/

/********** COLONNA DESTRA **************/
.wrapper-whatsapp .col-right {
  background: lightblue;
  height: 100%;
  width: calc(100% - 350px);
}
.wrapper-whatsapp .col-right .box-avatar .last-access {
  padding: 10px;
  font-size: 12px;
}
.wrapper-whatsapp .col-right .container-message {
  display: none;
  overflow-y: scroll;
  background: url(../img/mine.jpg);
  background-repeat: repeat;
  height: calc(100% - 120px);
  padding: 0 50px;
}
.wrapper-whatsapp .col-right .container-message.active {
  display: block;
}

/* message */
div[class*="message-"] div[class*="box-"] {
  position: relative;
  border-radius: 10px;
  padding: 15px 30px 15px 15px;
  margin: 5px 0;
  display: inline-block;
  word-break: break-all;
}
div[class*="message-"] {
  position: relative;
  clear: both;
  max-width: 80%;
}
div[class*="message-"]:hover .icon-settings-message {
  color: #b1b1b1;
}
.message-left .settings-message {
  right: -90px;
}
.message-left .icon-settings-message {
  color: #ffff;
  right: 10px;
}
.message-right .settings-message {
  left: -90px;
}
.message-right .icon-settings-message {
  color: #d5f9ba;
  left: 10px;
}
.settings-message {
  display: none;
  font-size: 12px;
  top: 25px;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #b1b1b1;
  box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
  background: #ffff;
  z-index: 1;
}
.settings-message.active {
  display: block;
}
.icon-settings-message {
  cursor: pointer;
  position: absolute;
  top: 5px;
}
/* .icon-settings-message:hover {
  color: #b1b1b1;
} */
.js_delete-message a {
  color: black;
  text-decoration: none;
}
.wrapper-whatsapp .col-right .container-message .message-left {
  float: left;
}
.box-left {
  background: white;
  float: left;
}
.wrapper-whatsapp .col-right .container-message .message-right {
  float: right;
}
.box-right {
  background: #d5f9ba;
  float: right;
}
.message-hour {
  position: absolute;
  color: #b1b1b1;
  display: block;
  font-size: 10px;
  right: 4px;
  bottom: 4px;
}
/* END message */
.wrapper-whatsapp .col-right div.footer-bar-message {
  justify-content: space-around;
}
.wrapper-whatsapp .col-right .footer-bar-message .emoticons,
.vocal-audio,
.enter-button {
  color: #6b7376;
  padding-top: 10px;
  font-size: 25px;
}
.wrapper-whatsapp .col-right .footer-bar-message .write-message {
  background: #ffff;
  border-radius: 5px;
  padding-top: 10px;
  width: 80%;
  height: 40px;
}
/************ END COLONNA DESTRA **************/
